<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold mb-2 custom-title">Geração de certificado</h1>
    <p class="custom-subtitle mb-4">Preencha os dados para gerar um novo certificado</p>
  </div>

  <div class="custom-card w-100">
    <h2 class="card-title">Novo certificado</h2>
    <div class="mb-3 custom-input-group">
      <label for="nome" class="form-label">Nome</label>
      <input [(ngModel)]="nome" #nomeRef="ngModel" maxlength="150" required type="text"
        class="form-control custom-input" placeholder="Nome do aluno" id="nome" name="nome">
      @if(nomeRef.invalid && nomeRef.touched){
      <div class="error-message d-flex align-items-center">
        <i class="ph ph-warning-circle"></i>
        <p class="m-0">O nome é obrigatório</p>
      </div>
      }
    </div>

    <div class="mb-3 d-flex align-items-end custom-input-group">
      <div class="flex-grow-1 me-2">
        <label for="atividade" class="form-label">Atividade</label>
        <input [(ngModel)]="atividade" type="text" #atividadeRef="ngModel" maxlength="50" required
          class="form-control custom-input" id="atividade" placeholder="Atividade concluída" name="atividade">
      </div>
      <app-secondary-button (click)="adicionarAtividade()" textoBotao="Adicionar" phClass="ph ph-plus"
        [disabled]="atividade.length == 1">
      </app-secondary-button>
    </div>
    <div class="atividade-group">
      <label class="form-label">Lista de atividade</label>
      <div class="item-list w-100">

        @for (att of atividades; track $index) {
        <div class="item">
          <span class="item-text">{{att}}</span>
          <div (click)="excluirAtividade($index)" class="remove-btn">
            <i class="ph-bold ph-x"></i>
          </div>
        </div>
        @if($index + 1 != atividades.length){
        <hr>
        }
        }

      </div>
    </div>
    <app-primary-button (click)="submit()" [disabled]="!formValido()"
      textoBotao="Gerar Certificado"></app-primary-button>
  </div>
</form>